<form #userForm="ngForm">
  <mat-card class="loginbox">
    <mat-card-header>
      <mat-card-title>
        <h1>Login to Your Account</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <div fxFlex>
          <mat-input-container>
            <input name="userName" required matInput placeholder="User name" [(ngModel)]="userData.UserName">
          </mat-input-container>
        </div>
        <div fxFlex>
          <mat-input-container>
            <input name="password" required matInput type="password" placeholder="password" [(ngModel)]="userData.Password">
          </mat-input-container>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!userForm.form.valid" mat-button color="primary" (click)="checkLogin()" mat-raised-button>Login</button>
    </mat-card-actions>
  </mat-card>
</form>